include ChangeLog
include AUTHORS
include LICENSE
include README
include autobuild.sh
include MANIFEST.in
include setup.py
include scripts/virt-sandbox-image
include libvirt_sandbox_image/*.py
include libvirt_sandbox_image/source/*.py
include autobuild.sh
include python3-libvirt-sandbox-image.spec
include python3-libvirt-sandbox-image.spec.in
global-exclude *.pyc
